@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box;
    font-size: 0;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul li {
    list-style: inside;
    margin-bottom: 5px;
}

li,
p,
span,
a {
    font-size: 16px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}


.all {
    border: 5px solid #666;
}

header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding: 20px 70px;
    margin-bottom: 20px;

}


.block {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.group{
	border-bottom: 1px solid #ccc;
}

.block3 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}


.block2 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}






.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    width: 100px;
}

.logo span {
    font-size: 40px;
}

p {
    display: flex;
    flex-direction: column;
}




nav.main ul li {
    display: block;
}

nav.main ul li a {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    background: #000;
    border-radius: 5px;
}













section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px 70px;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 20px 70px;
}




.prop4 {
    display: block;
    text-align: center;
    width: 16%;
    margin: 5%;
    font-size: 16px;
    font-weight: bold;
}



.prop2 {
    display: inline-block;
    text-align: center;
    width: 16%;
    margin: 30px 1%;
    font-size: 16px;
    font-weight: bold;
}


.prop2 p:nth-child(3) {
    height: 60px;
    margin-bottom: 20px;

}

.prop2 p:nth-child(3) span {
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
}


.prop2 p:nth-child(4) {
    font-weight: normal;
}











.zone {
    display: block;
    position: relative;
    display: inline-block;
    width: 30%;
}




.btn {
    margin: 5px;
    padding: 10px;
    background: #ccc;
    border-radius: 10px;
    text-align: center;
}

.btn:hover {
    filter: brightness(80%);
}

.btn-demo {
    display: block;
    width: 100px;
    background: #00A09E;
    color: #fff;
}

.btn-download {
    display: block;
    width: 100px;
    background: #15A43F;
    color: #fff;
}

.btn-top {
    display: block;
    width: 100px;
    padding: 2px;
    margin-top: 50px;
    background: #666;
    color: #fff;
}



h2 {
    display: block;
}

h2 span {
    display: block;
}


.zone p {
    margin: 40px 0;
}






footer {
    background: #000;
}









footer .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;

}

footer .logo img {
    width: 100px;
}

footer .logo span {
    font-size: 40px;
    color: #fff;
}

footer p {
    display: flex;
    flex-direction: column;
    color: #fff;
}



nav.map ul li {
    display: block;
}

nav.map ul li a {
    display: inline-block;
    padding: 5px 10px;
    color: #000;
    background: #fff;
    border-radius: 5px;
}



.map li:hover {
    filter: invert(20%);
}

.main li:hover {
    filter: invert(20%);
}
























/* @media Media queries - - - - - - - - - - - - - - - - - - - - */

.respo {}

.respo:before {
    z-index: 1000;
    width: auto;
    bottom: 5px;
    right: 5px;
    position: fixed;
    padding: 5px;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    transition: all 1s ease;
    opacity: 0.8;
}

.respo:before {
    content: "(none)";
    background: cyan;
}

/* 980px min - Large desktop - - - - - - - - - - */

@media (min-width: 980px) {}

/* 980px max - Large desktop - - - - - - - - - - */

@media (max-width: 980px) {

    .respo:before {
        content: "(max-width: 980px)";
        background: magenta;
    }

    html {
        font-size: 18px;
    }

    .logo img {
        height: 50px;
    }

    .logo span {
        font-size: 30px;
    }



    footer .logo img {
        height: 50px;
    }

    footer .logo span {
        font-size: 30px;
    }



    h2 {
        font-size: 25px;
    }

    .block3 {
        display: block;
        vertical-align: top;
        text-align: center
    }

    .prop2 {
        width: 25%;
        vertical-align: top
    }


    .block2 {
        display: block;
    }



    .zone p {
        margin: 20px 0;
    }

    .zone:nth-child(1) {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        margin: 20px 0;
    }

    .zone:nth-child(2) {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        width: 50%;
    }

    .zone:nth-child(3) {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }


    .btn-demo,
    .btn-download,
    .btn-top {
        display: inline-block;
        margin: 5px;

    }

}


/* 768px max - Landscape phone to portrait tablet - - - - - - - - - - */

@media (max-width: 768px) {

    .respo:before {
        content: "(max-width: 768px)";
        background: yellow;
    }

    html {
        font-size: 20px;
    }

    .block,
    .col {
        width: 100%;
        display: block
    }

    .prop4 {
        display: inline-block;
        width: 14%;
        margin: 0;
        vertical-align: top;
    }

    .prop2 {
        width: 40%;
        vertical-align: top
    }


    .btn-demo,
    .btn-download,
    .btn-top {
        display: block;


    }

    .zone:nth-child(1),
    .zone:nth-child(2),
    .zone:nth-child(3) {
        width: 100%;
        display: block
    }

}

/* 480px Landscape phones and down - - - - - - - - - - - - - - - - - - - - */

@media (max-width: 480px) {

    .respo:before {
        content: "(max-width: 480px)";
        background: grey;
    }

    html {
        font-size: 18px;
    }


}


/* END - - - - - - - - - - - - - - - - - - - - */